.mainbodynoauth{
	margin-top: 20px;
	padding: 0px;
	border-width: 0px;
	text-align: left;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	width: 955px;
	background-repeat: repeat-x;
}

#LoginInfoUi{
	border:1px solid #CCCCCC;
	height: 244px;
	width:500px;
	margin-left:250px;
	margin-top:200px;
	position:absolute;
	z-index:10;
	background:#FFFFFF;
	display:none;
}

.contentItemlogin {
	width: 100%;
	margin-top:12px;
	height: 30px;
}

.labelBoxlogin {
	width: 33%;
	height: 30px;
	line-height:30px;
	text-align:right;
	float:left;
	font-size:14px;
	color:#000000;
	font-family:"微软雅黑";
}

.contenboxlogin {
	width: 65%;
	height: 30px;
	float:right;
	text-align:left;
}

.logininputcss {
	border:1px solid #CCCCCC;
	vertical-align:middle;
	font-family:"微软雅黑";
	font-size:14px;
	color:#000000;
	width: 233px;
	padding:3px 0px 4px 0px;
	/*background-color:transparent;*/
}

.info_100px{
	width:100px;
}

#LoginInfoUiButton{
	padding-top:20px;
}

/*底层遮罩样式*/
div#BaseMask {
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	right:0px;
	z-index:2;	/*底层遮罩的z-index为2*/
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	background-color:#eeeeee;
	display:none;
}

#LoginInfoUiErr {
	width:500px;
	height: 30px;
	line-height:30px;
	font-family:"微软雅黑";
	color:red;
	text-align:center;
	display:none;
}