*{
    margin:0;padding:0
}

p{
    -webkit-margin-before: 0em!important;
    -webkit-margin-after: 0em!important;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a:hover{
    cursor: pointer;
}

#mainbody{
    width: 100%;
    background: #f1f1f1;
    font-size: 12px;
    font-family: "微软雅黑";
    height:52em;
    min-height:50em;
}

#mainDiv{
    width: 100%;
    margin: 0 auto;
    background: pink;
    min-width: 1000px;
}
.li_cont{
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=135, Strength=2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

ul li{
    list-style: none;
    margin-top: 1.5em;
}

#mainDiv_ulOne, #mainDiv_ulTwo, #mainDiv_ulThree{
    width: 32%;
    display: inline-block;
    float: left;
}

#mainDiv_ulOne li, #mainDiv_ulTwo li, #mainDiv_ulThree li{
    background: #fff;
    padding: 25px 20px;
}

#mainDiv_ulTwo, #mainDiv_ulThree{
    margin-left: 2%;
}

#mainDiv .title{
    font-family: '微软雅黑';
    color: #5D646E;
    height:40px;
    font-weight: 700;
    font-size: 1.25em;
}

#DI_div{
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.DI_div_pross{
    width: 100%;
    height: 55px;
    line-height: 55px;
}

.ED_div_pross{
    width: 100%;
    height: 90px;
    line-height: 35px;
}

.ED_div_pross1{
    width: 100%;
    height: 120px;
    line-height: 35px;
}

.p_left{
    display: inline-block;
    width: 50%;
    float: left;
    color: #95989A;
}

.p_pross{
    height: 54px;
    position: relative;
}

.ED_p_pross{
    height: 40px;
    position: relative;
}

.p_right{
    display: inline-block;
    width: 50%;
    float: right;
    overflow:hidden;
}

.AD_img{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.AD_img img{
    width: 100%;
}

.AD_text{
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.AD_text_span{
    color: #8DC63F;
    padding-left: 8px;
}

.li_footer{
    width: 100%;
    background: #f7f7f7;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 10px 0 0 0;
    border-top: 1px solid #ddd;
}

#btn:hover,#btn2:hover,#btn3:hover,#btn4:hover,#btn5:hover{
    color: #fff;
    background: #8DC63F;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 80px;
    height: 31px;
    line-height: 31px;
    margin: 0 auto;
}

.li_footer2{
    width: 100%;
    background: #f7f7f7;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 10px 0 0 0;
    border-top: 1px solid #ddd;
}

 #btn,#btn2,#btn3,#btn4,#btn5{
    color: #333;
    background: #e8e8e8;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    width: 80px;
    height: 31px;
    line-height: 31px;
    margin: 0 auto;
}

.IS_img{
    width: 90%;
    height: 4em;
    margin: 0 auto;
}

.IS_img_div{
    width: 20%;
    text-align: center;
    display: inline-block;
    float: left;
}

#isRight i{
    display: inline-block;
    width: 100%;
    height: 4em;
    text-align: center;   
}

.isRight{
    background: url(../../images/home/Path_231.png) no-repeat 21px 5px;
}

.isWrong{
    background: url(../../images/home/ico_home_no.png) no-repeat 21px 5px;
}

#isWrong i{
    display: inline-block;
    width: 100%;
    height: 4em;
    text-align: center;
}
#ED_div{
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.ED_left{
    display: inline-block;
    float: left;
    color: #95989A;
}

.ED_right{
    display: inline-block;
    float: left;
    color:#95989A; 
}

.ED_p_left{
    display: inline-block;
    width: 100%;
    float: left;
    color: #333;
}

.ED_isRight{
    background: url(../../images/home/Path_231.png) no-repeat 0 1px;
}

.ED_isRight1{
    background: url(../../images/home/ico_home_no.png) no-repeat 0 -4px;
}

.ED_isRight0{
    width: 11%;
    height: 30px;
    display: inline-block;
    float: right;
}

.progress1{
    width:100%!important;
}
.progress {
    width:80%;
    height: 8px!important;
    margin-top: -10px;
    margin-bottom: 0!important; 
}

.progress-bar {
    background-color: #8DC63F!important;

}

p{
    margin:0!important;
}

.line-header{
    left: 0;
    right:0;
    top: 65px;
    height: 1px;
    background-color: #D5D5D5;
}

a.wlan_a_style:link,
a.wlan_a_style:visited {
    color: #8DC63F;
}

.cmn-toggle {
    position: absolute; 
    margin-left: -9999px; 
    visibility: hidden; 
}

.cmn-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round+label {
    padding: 2px;
    width: 35px;
    height: 22px;
    background-color: #dddddd;
    border-radius: 10px;
}

input.cmn-toggle-round+label:before,
input.cmn-toggle-round+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: background 0.4s;
}

input.cmn-toggle-round+label:after {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked+label:before {
    background-color: #8DC63F;
}

input.cmn-toggle-round:checked+label:after {
    margin-left: 13px;
}

div.wlan_div_style1{
    width:100%; 
    height: 15em;
}

div.wlan_div_style2{
    margin-top: 10px; 
    height: 5em;
}

div.wlan_div_style3{
    width: 5px;
}

div.wlan_div_style4{
    text-align: left;
    margin-left: 30%;
    width: 50%;
    word-wrap: break-word;
    float: left;
}

div.wlan_div_style5{
    text-align: left;
    margin-left: 80%;
    width: 20%;
}

div.wlan_div_style6{
    width:100%; 
    height: 12.2em;
}

