body {
	text-align: center;
	margin: 0px;
	font-family: "Arial";
	font-size: 14px;
}
#main_wrapper {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	text-align: left;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	width: 955px;
	height: 558px;
	background-image: url(../images/login.jpg);
	background-repeat: repeat-x;
}
.whitebold{
	color:#fff;
	font-weight:bold;
	font-size:12px;
}

#logininfo{
	position:absolute;
	text-align: left;
	width:182px;
	height:93px;
	top:322px;
	margin-left:390px;
}

.input_login {
	border: 0px solid #ccccce;
	height: 16px;
	width: 100%;
	padding-left: 0px;
	padding-top: 0px;
}

#account{
	width:99%;
	height:15px;
}

#accountput{
	background-color: white;
	width:98%;
	height:16px;
}

#password{
	width:100%;
	height:15px;
	position:absolute;
	top:32px;
}

#passwordput{
	background-color: white;
	float:left;
	width:98%;
	height:16px;
	position:absolute;
	top:48px;
}

#loginbutton{
	width:179px;
	float:center;
	height:25px;
	position:absolute;
	top:70px;
}
.loginbuttoncss{
	width:179px;
	line-height:18px;
	font-size:13px;
	height:20px;
	font-family:Arial;
	background:url(../images/login_button_bg.gif) center no-repeat;
	color:#FFFFFF;
	border-style:none;
}

.loginbuttoncss:disabed{
	color:#848484;
}

#DivErrPage
{
	position:absolute;
	text-align:cener;
	width:400px;
	height:20px;
	top:460px;
	margin-left:280px;
	background-color: white;
	display:none;
}

.SpanDivErrPromt{
	text-align:center;
	font-size:14px;
	font-family: "Arial";
	color:#FF0000;
}
