
div#main {
	width: 955px;
	margin: 0px auto;
	height: 715px;
	background: url('../../images/mobily_EN_bg.jpg') no-repeat center;
	background-size:100%;
}
div#main div#header {
	height: 110px;
}
div#main div#header div#headerContent {
	float: left;
	height: 110px;
	width: 955px;
}
div#main div#header div#headerContent div#headerInfo {
	height: 70px;
}
div#main div#header div#headerContent div#headerInfo div {
	float: left;
	width: 955px;
	height: 70px;
	line-height: 33px;
	font-family: Tahoma;
}
div#main div#header div#headerContent div#headerInfo div#headerInfoSpace {
	width: 825px;
}

div#main div#header div#headerContent div#headerInfo div#headerlangSelect {
	height: 30px;
	width:130px;
	font-size: 12px;
}
div#main div#header div#headerContent div#headerInfo div#headerLogout {
	height: 25px;
	width:130px;
	font-size: 12px;
}
div#main div#header div#headerContent div#headerInfo div#headerLogout span {
	cursor: pointer;
	color: #0091d3;
	font-weight: bold;
}


div#main div#header div#headerContent div#headerTab {
	height: 40px;
	clear: both;
	line-height: 40px;
	
}
div#main div#header div#headerContent div#headerTab #headerInfoText {
	width: 15%;
	float: right;
	margin-top: -47px;
	line-height: 27px;
	color:rgb(0, 155, 215);
	font-weight:bold;
}
div#main div#header div#headerContent div#headerTab ul {
	padding: 0px;
	margin: 0px;
	margin-left:80px;
	list-style-type: none;
	width:85%;
	float:left;
}
div#main div#header div#headerContent div#headerTab ul li {
	height: 40px;
	float: left;
	cursor: pointer;
	font-weight: bold;
	margin: 0px 3px;
}
div#main div#header div#headerContent div#headerTab ul li div {
	float: left;
	margin: 0px 0px;
}
div#main div#header div#headerContent div#headerTab ul li div.tabBtnCenter {
	height: 40px;
	color: #009AD6;
	margin: 0px 0px;
}
div#main div#header div#headerContent div#headerTab ul li.hover div.tabBtnCenter {
	height: 25px;
	color: #003E56;
	text-align:right;
	background-repeat: repeat-x;
	margin: 0px 0px;
}
div#main div#header div#headerSpace {
	height: 6px;
	clear: both;
	line-height: 6px;
}
div#main div#mainspace {
	height: 20px;
	width: 801px;
}
div#main div#center {
	height: 535px;
	
}
div#main div#center div#nav {
	width: 210px;
	height: 535px;
	float: left;
}
div#main div#center div#space {
	width: 10px;
	height: 535px;
	float: left;
}
div#main div#center div#nav ul {
	padding: 0px;
	margin: 0px;
	margin-left:20px;
	padding-top:28px;
	list-style-type: none;
}
div#main div#center div#nav ul li div {
	width: 210px;
	height: 25px;
	color:#fff; 
	cursor: pointer;
	line-height: 25px;
	font-weight: bold;
	margin-bottom: 1px; 
	padding-left:0px;
	text-align:left; 
	float:left;
}
div#main div#center div#nav ul li.hover div {
	color:#000 ;
	font-weight: bold;
	cursor: pointer;
}
div#main div#center div#content2 {
	float: left;
	width: 708px;
	height: 535px;
	padding-left:15px;
}

div#main div#center div#content2  div#ContentSpace {
	height: 20px;
}

div#main div#center div#content2 div#frameWarpContent2 {
	width: 680px;
	height: 480px;
}

div#main div#center div#content2 div#ContentSpace2 {
	height: 40px;
}

div#main div#mainspace2 {
	height: 50px;
	width: 955px;
}

div#main div#footer {
	clear: both;
	height: 25px;
	color: #434343;
	text-align: center;
}
div#main table {
	height: 100%;
	margin: 0px auto;
}

div#main div#footer #footerText {
	color: #434343;
	font-size: 12px;
}

div#main div#fresh {
	display: none;
}

body {
	text-align: center;
	margin: 0px;
	font-family: Arial;
	font-size: 12px;
}
